{% extends '::base.html.twig' %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{{ path('default_index') }}">Inicio</a></li>
  <li><a href="{{ path('meta_monitor_servicio_index') }}">MetaMonitorServicio</a></li>
  <li class="active">Editar</li>
</ol>
{% endblock %}

{% block body -%}
    <h3>Editar MetaMonitorServicio</h3>

    {{ form(edit_form) }}

        <p class="text-left">

                  
</p>


    <p class="text-left">
    <a href="{{ path('meta_monitor_servicio_index') }}">
      <button type="button" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-th-list"></span> Volver
      </button>
    </a>
    </p>{% endblock %}

