{% extends '::base.html.twig' %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li>Usted está en: <a href="{{ path('default_index') }}">Inicio</a></li>
  <li class="active">Configuración</li>
  <li><a href="{{ path('paneles_index') }}">Panel</a></li>
  <li class="active">Agregar</li>
</ol>
{% endblock %}

{% block body -%}
    <h3>Agregar panel</h3>

    {{ form(form) }}

        <p class="text-left">

                  
</p>


    <p class="text-left">
    <a href="{{ path('paneles_index') }}">
      <button type="button" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-th-list"></span> Volver
      </button>
    </a>
    </p>{% endblock %}
